html,body{
    font-family:monospace;
    width: 100%;
    height: 100%;
    margin: 0px;
}


.container{
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template: repeat(4, 1fr) /repeat(3,1fr); 
  
    /****************************************
    *                                       *
    *     SINTAXIS PARA GRID TEMPLATE*      *
    *                                       *  
    *    grid-template: filas / columnas    *
    *****************************************/
    
}


.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}


.item{
    background-color: aqua;
    border:1px solid tomato !important;
    padding: 10px;
}

.item:nth-of-type(1){
    background: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item:nth-of-type(8){
    background: blue;
    grid-column: 1/4;
}

.item:nth-of-type(7){
    background: yellow;
    grid-column: 2/ -1;
}













