body,html{ font-family: monospace;margin:0; width: 100%; height: 100%;}



.grid{
    height:100vh;
    display: grid;
    /* FILAS / COLUMNAS */
    grid-template-rows: 65px 1fr;
    grid-template-columns:10% 1fr;
        
}
/*
.a{grid-area:a;}
.b{grid-area:b;}
.c{grid-area:c;}*/

.a{
    background-color: blue;
    grid-column:1/-1 ;
}
.b{
    background-color: red;
}
.c{
    background-color: green;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 30px 30%; 
    grid-auto-rows:  30px 30%;
    grid-gap:20px;
    overflow-y: auto;
}

.section-title{
    grid-column: 1/-1;
    display: flex;
    padding-left: 25px;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}

.m-image{
    margin:0;
}

.m-image img{
        width: 100%;
    vertical-align: top;
}
.movie{
    padding-left: 15px;
    position: relative;
    display: block;
    overflow-y: hidden;
}
.m-overlay{
    position: absolute;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    top:0;
/*    left:-100%;*/
/*
    left: 0;
    right: 0;
*/
    bottom:0;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
/*    backdrop-filter:blur(8px;)*/
}

.movie:hover .m-overlay{
    
    opacity: 1;
}















